.todo-list ul {
	display: inline-block;
	list-style-type: none;
	padding: 1em;
}
.todo-list .done {

	text-decoration: line-through;
	color: darkslategray;
}
.todo-list li {

	padding: 0.2em;

}

.todo-list li:hover {

	cursor: pointer;
	background-color: rgb(255, 0, 0);
}

.todo-list button {

	background-color: rgb(0, 105, 14);
	color: darkolivegreen;
	border: none;
	padding: 0.4em 1.0em;
	border-radius: 0.3em;
	margin-left: 1em;
}
.todo-list button:hover { 

	cursor: pointer;

}

.todo-list input {

	padding: 0.4em 1.0em;
	border-radius: 0.3em;
	border: none;
}